body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    flex: 0 0 none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: #191919;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }